@charset "UTF-8";

.background{
	background-image: url(../img/fondo-cancha.jpg);
	background-size: cover;
	background-repeat: no-repeat;
  background-attachment: fixed;
}

.headerTop{
  background: #000000;
  height: 40px;
  border-bottom: 1px solid #1a1a1a;
  line-height: 40px;
  font-size: 12px;
}

.headerTop a{
  color: #9d9d9d;
}

.navbar{
  border-radius: 0;
}

section {
  padding: 35px 0;
  padding-top: 0px;
}

section.section-no-spaced {
  padding: 0;
}

section.section-sm {
  padding: 20px 0;
}

section.section-lg {
  padding: 80px 0;
}


/*!
 * Poncho v0.3.2 (https://github.com/argob/poncho)
 * Copyright 2016
 * Subsecretaría de Gobierno Digital
 * Presidencia de la Nación Argentina
 * Licenciado bajo MIT (https://github.com/argob/poncho/LICENSE)
 */
 /* Libraries */
 /* Resources */
 html,
 body {
  font-size: 16px;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: #F9F9F9;
  color: #9d9d9d;
  /*display: table;*/
  width: 100%;
  overflow-y:scroll;
}

body.modal-open {
     overflow-y:scroll;
}

.containerMain{
  background-color: rgba(0,0,0,0.7);
  padding: 40px 60px 40px 60px;
}

.container-fluid{
  padding: 25px 10px;
}

.container{
  /*width: 1300px;*/
  width: 96%;
}

.containerHome {
  padding: 0px;
  background-color: rgba(0,0,0,0.7);
  height: 250px;
  margin: 0px -40px;
}

.table.table-spaced td,
.table.table-spaced th {
  padding: 12px 4px;
}

.table th {
  line-height: 1.2;
}

.table th a {
  color: #111;
}

.table th a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.table td small {
  color: #767676;
  font-weight: normal;
}

.table td.td-strong {
  font-size: 1.1em;
  font-weight: bold;
}

.table td.td-fixed {
  width: 8%;
}

.table tr{
  background: black;
  opacity: 1;
}

.table-hover > tbody > tr:hover {
  background-color: #e9e9e9;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #d9edf7;
  opacity: 1;
  color: black;
}

.columnCenter{
  text-align: center;
  vertical-align: middle !important;
}

.page-title{
  /*border-style: groove;
  border-color: chocolate;*/
  border-left: none;
  border-right: none;
  text-align: center;
  padding: 50px;
  /*margin: 0px -25px;*/
  margin: 0px 0px;
  background-image: url(../img/soccer-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
}

.page-title-font{
  color: rgba(255, 255, 255, 0.93);
  /*text-shadow: 0 0 10px #fefcc9,5px -5px 15px #feec85, -10px -10px 20px #ffae34, 10px -20px 25px #ec760c, -10px -30px 30px #cd4606, 0 -40px 35px #973716, 5px -45px 40px #451b0e;*/
  text-transform: uppercase;
  font-family: 'USN_Stencil';
  font-size: 50;
}

.botonMapa{
  background-image: url(../img/icon-googlemaps.png);
  width: 30px;
  height: 30px
}

.modal-content{
  background-image: url(../img/background-stadium.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.filet-bottom7, .thumbnails-block {
  border-bottom: 1px solid #777;
}

.m-top20{
  margin-top: 20px;
}

.m-left80{
  margin-left: 80px;
}

.m-bottom10 {
  margin-bottom: 10px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  /*width: 70%;*/
  margin: auto;
}

.carousel-caption{
  padding-bottom: 0;
}

.item{
  height: 200px;
}

.carousel-inner{
  height: 250
}

.headerEquipo{
  font-weight: 800;
  padding: 25px 0px;
}

.redColor{
  color: red;
}

.botonReglamento{
    background: none;
    border: none;
    font-size: 25px;
}

.teamImage{
  width: 400px;
}

.shieldImage{
  /*height: 100%;*/
  max-height: 150px;
  /*max-height: 100%;*/
  max-width: 100%;
}

.list-group-item{
  padding : 3px 15px;
}

.scroll-list{
  max-height: 200px;
  overflow: auto;
}

.button-no-style{
  border: none;
  background: none;
  color: black;
  
}

ul li:hover{
  background-color: lightgrey;
}

table{
  font-size: 13px;
}

.itemSize{
   padding: 0;
   font-size: 1vw;
   color: black
}

.state-loading {
  position: relative;
}

.state-loading:before {
  -webkit-animation: loader .6s linear;
  -webkit-animation-iteration-count: infinite;
  animation: loader .6s linear;
  animation-iteration-count: infinite;
  border-color: #767676 #F9F9F9 #F9F9F9;
  border-radius: 600rem;
  border-style: solid;
  border-width: .2em;
  box-shadow: 0 0 0 1px transparent;
  content: '';
  height: 2.2585em;
  left: 50%;
  margin: -1.12925em 0 0 -1.12925em;
  position: absolute;
  top: 50%;
  width: 2.2585em;
  z-index: 5;
}

.state-loading:after {
  background-color: rgba(204, 204, 204, 0.7);
  border-radius: 4px;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
}

@keyframes loader {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.borderSides{
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.newsBody{
	word-break: break-word;
	/*text-align: justify;*/
    margin-left: 10px;
    margin-right: 10px;
}

.redes{
  text-decoration: underline;
  font-size: 15px;
}