<html ng-app="torneoFutbol">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	

	<link href="css/roboto-fontface.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/droid-serif.css" rel="stylesheet">
	<!-- <link href="css/font-awesome.min.css" rel="stylesheet"> -->
	<link href="css/style.css" rel="stylesheet">
	<!-- <link href="css/poncho.min.css" rel="stylesheet"> -->

	<link rel="shortcut icon" href="img/favicon-futbol.png">

	<script src="js/lib/jquery.js"></script>
	<script src="js/lib/bootstrap/bootstrap.min.js"></script>

	<!-- Libraries -->
	<script src="js/lib/jquery.dataTables.min.js"></script>
	<script src="js/lib/dataTables.tableTools.js"></script>
	<script src="js/lib/dataTables.columnFilter.js"></script> 
	<script src="js/lib/angular/angular.js"></script>
	<script src="js/lib/angular/angular-route.js"></script>
	<script src="js/lib/angular/angular-cookies.min.js"></script>
	<script src="js/lib/angular/angular-translate.min.js"></script>
	<script src="js/lib/angular/angular-sanitize.min.js"></script>
	<script src="js/lib/angular/angular-translate-loader-static-files.min.js"></script>		
	<script src="js/lib/angular-datatables.js"></script>
	<script src="js/lib/angular-datatables.tabletools.js"></script>
	<script src="js/lib/angular-datatables.columnfilter.js"></script>
	<script src="js/lib/angular-datatables.bootstrap.min.js"></script>
	<script src="js/lib/angular-datatables.bootstrap.tabletools.js"></script>
	<script src="js/lib/typeahead/typeahead.js"></script>

	<script src="js/lib/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>

	<script src="js/lib/alasql.min.js"></script>
	<script src="js/lib/xlsx.core.min.js"></script>
	<script src="js/lib/highcharts.src.js"></script>
	<script src="js/lib/highcharts-ng.js"></script>
	<script src="js/lib/angular/ocLazyLoad.js"></script>

	<!-- Application -->
	<script src="js/app.js"></script>

	<!-- Controllers -->
  <script src="js/controllers/AppController.js"></script>
  <script src="js/controllers/ContactController.js"></script>
  <script src="js/controllers/HomeController.js"></script>
  <script src="js/controllers/LoginController.js"></script>
  <script src="js/controllers/SedesController.js"></script>
  <script src="js/controllers/TeamController.js"></script>
  <script src="js/controllers/TeamsController.js"></script>
  <script src="js/controllers/TournamentDetailsController.js"></script>
  <script src="js/controllers/TournamentsController.js"></script>
  
  <script src="js/configControllers/ConfigurationController.js"></script>
  <script src="js/configControllers/HeadquarterManagementController.js"></script>
  <script src="js/configControllers/MatchesManagementController.js"></script>
  <script src="js/configControllers/PlayersController.js"></script>
  <script src="js/configControllers/TeamsManagementController.js"></script>
  <script src="js/configControllers/TournamentsManagementController.js"></script>


	<!-- Filters and Directives -->
	<script src="js/filters/completed.js"></script>
	<script src="js/directives/nullToEmpty.js"></script>

	<!-- Services -->
	<script src="js/services/restApi.js"></script>
	<script src="js/services/dataService.js"></script>
	<script src="js/services/AuthenticationService.js"></script>

</head>

<style>
.dropdown:hover .dropdown-menu {
  display: block;
}
</style>
<body ng-controller="AppCtrl" class="background sticky-footer">
		  
    <script type="text/ng-template" id="generic-popup.html">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-title" style="color:white" ng-bind-html="title"></span>
        </div>
        <div class="modal-body">
          <table>
            <tr>
              <td style="vertical-align: middle;">
                <img ng-src="../img/spinner.gif" width="48" height="48" ng-if="showSpinner" />
              </td>
              <td>
                <p style="color:white" ng-bind-html="message"></p>
              </td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" ng-click="closePopupOk()" ng-if="showOkButton">{{ 'app.aceptar' | translate}}</button>
          <button class="btn btn-default" ng-click="closePopupCancel()" ng-if="showCancelButton">{{ 'app.cancelar' | translate}}</button>
        </div>
      </div>
    </script>

        <header>
        	<nav class="navbar navbar-inverse" style="margin-bottom: 0;">
        		<div class="container-fluid">
        			<div class="navbar-header">
        				<a class="navbar-brand" href=""><img style="margin-top: -40;" src="img/logo-otefa.png"></a>
        			</div>

                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed text-center" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="width:100%; padding:0px 10px; margin:20px 0px;">MENU</button>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse">
                     

        			<ul class="nav navbar-nav text-center">
        				<li ng-show="!isConfig" class="active"><a href="#/">INICIO</a></li>
        				<!-- <li><a href="#/jugadores">Jugadores</a></li> -->
        				<li ng-show="!isConfig"><a href="#/equipos">Equipos</a></li>
        				<li ng-show="!isConfig"><a href="#/torneos">Torneos</a></li>
        				<li ng-show="!isConfig"><a href="#/sedes">Sedes</a></li>
                <li ng-show="!isConfig"><a href="#/contacto">Contacto</a></li>
        				<li ng-show="isConfig" class="dropdown">
        					<a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Configuración
        						<span class="caret"></span>
        					</a>
        					<ul class="dropdown-menu">
        						<li><a href="#/admin">Inicio</a></li>
                    <li><a href="#/admin/gestion-equipos">Equipos</a></li>
                    <li><a href="#/admin/jugadores">Jugadores</a></li>
                    <li><a href="#/admin/gestion-sedes">Sedes</a></li>
        						<li><a href="#/admin/gestion-torneos">Torneos</a></li>
                    <li><a href="#/admin/gestion-partidos">Partidos</a></li>
        					</ul>
        				</li>
        			</ul>
        		
        		
        			<a href="https://www.facebook.com/futbolotefa/" target="_blank" class="pull-right hidden-xs" style=" margin-top:10px;">
        				<img src="img/icono-fb.png" border="0">
        			</a>
        		</div>
                    </div><!--/.nav-collapse -->
        	
            </nav>

        </header>

        <main role="main">
        	<div>
        		<section>
        			<!-- Views -->
        			<div class="mainView" ng-view></div>
        		</section>
        	</div>			
        </main>

        <br/>

    	<footer style="background: #222" class="main-footer sticky-footer">
      		<div class="container">
        		<div class="row">

          			
        		</div>
      		</div>
      	</footer>
      </body>
          </html>

          <script type="text/javascript">
              window.addEventListener('resize', function(){
                 $($.fn.dataTable.tables(true)).DataTable()
                 .columns.adjust().draw();
              }, true);
          </script>