<title>OTEFA</title>

<div>
  <h1 class="page-title page-title-font">Inicio</h1>
</div>

<br/><br/>

<div class="container containerMain">
  
  <div class="containerHome">
    <br>
    
   <carousel interval="3000">
    <slide ng-repeat="file in homeImages">
      <img style="height: 100%; width: auto;" ng-src="{{filePath}}{{file.Name}}" alt="" />
    </slide>
  </carousel>

  <div>

      <div class="row">
      
        <div class="col-md-3 col-xs-6 text-center" ng-repeat="newsItem in news">
          
          <div class="row borderSides">
            
            <div>
              <div class="newsTitle">
                <b>{{newsItem.Title}}</b>
              </div>
              
              <br>

              <div class="newsImage" ng-show="newsItem.Image">
                <img ng-src="{{newsImagesPath}}{{newsItem.Image}}" width="100%">
              </div>

              <br>

              <div class="newsBody">
                <span>{{newsItem.Body}}</span>
              </div>
              <br>
            </div>
              
          </div>
          <br><br><br>
        
        </div>
      
      </div>

      <br><br>

      <div class="row">
        <div class="text-center">
          <span class="redes"><b>SEGUINOS EN LAS REDES SOCIALES</b></span>
        </div>

        <br>

        <div class="col-md-6 text-center">
          <!-- SnapWidget -->
          <script src="https://snapwidget.com/js/snapwidget.js"></script>
          <iframe src="https://snapwidget.com/embed/449974" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:500px; height: 500px "></iframe>
        </div>

        
        <div class="col-md-6 text-center">
          <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffutbolotefa&tabs=timeline&width=500&height=500&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=true&appId" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>  
        </div>
      </div>

  </div>
</div>