

<title>OTEFA</title>

<div>
  <h1 class="page-title page-title-font">Inicio</h1>
</div>

<br/><br/>

<div class="container containerMain">
  
  <div class="containerHome">
    <br>
    
   <carousel interval="3000">
    <slide ng-repeat="file in homeImages">
      <img style="height: 100%; width: auto;" ng-src="{{filePath}}{{file.Name}}" alt="" />
    </slide>
  </carousel>

  <div>
  	<div class="col-md-9 m-top20" ">
  		<label>asdasdsad</label>
  		<br/>
  		<label>asdasdsad</label>
  		<br/>
  		<label>asdasdsad</label>
  		<br/>
  		<label>asdasdsad</label>
  		<br/>
  		<label>asdasdsad</label>
  		<br/>
  		<label>asdasdsad</label>
  		<br/>
  	</div>

  	<div class="col-md-3 text-center">
  		<div class="filet-bottom7">
  			<h2 class="m-bottom10">Visionner vos émissions et films favoris sur illico.tv!</h2>
  			 <p>Grâce à Illico.tv ou à illico Mobile, reprenez votre émission ou film sur demande sur votre ordinateur ou votre cellulaire exactement là où vous l'avez laissé sur le 900!</p> 
  		</div>
  		<div class="filet-bottom7">
  			<h2 class="m-bottom10">Visionner vos émissions et films favoris sur illico.tv!</h2>
  			 <p>Grâce à Illico.tv ou à illico Mobile, reprenez votre émission ou film sur demande sur votre ordinateur ou votre cellulaire exactement là où vous l'avez laissé sur le 900!</p> 
  		</div>
  		<div class="filet-bottom7">
  			<h2 class="m-bottom10">Visionner vos émissions et films favoris sur illico.tv!</h2>
  			 <p>Grâce à Illico.tv ou à illico Mobile, reprenez votre émission ou film sur demande sur votre ordinateur ou votre cellulaire exactement là où vous l'avez laissé sur le 900!</p> 
  		</div>
  		<div class="filet-bottom7">
  			<h2 class="m-bottom10">Visionner vos émissions et films favoris sur illico.tv!</h2>
  			 <p>Grâce à Illico.tv ou à illico Mobile, reprenez votre émission ou film sur demande sur votre ordinateur ou votre cellulaire exactement là où vous l'avez laissé sur le 900!</p> 
  		</div>
  		<div class="filet-bottom7">
  			<h2 class="m-bottom10">Visionner vos émissions et films favoris sur illico.tv!</h2>
  			 <p>Grâce à Illico.tv ou à illico Mobile, reprenez votre émission ou film sur demande sur votre ordinateur ou votre cellulaire exactement là où vous l'avez laissé sur le 900!</p> 
  		</div>
  	</div>
  </div>
</div>