<div class="row">
	<h1 class="page-title">Listado de Jugadores</h1>
</div>

<br/><br/>

<div class="row">
	
	<table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="columnCenter">Nombre</th>
                <th class="columnCenter">Apellido</th>
                <th class="columnCenter">Email</th>
                <th class="columnCenter">Celular</th>
                <th class="columnCenter">Obra Social</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="jugador in jugadores | orderBy:'Nombre'">
                <td class="columnCenter">{{jugador.Nombre}}</td>
                <td class="columnCenter">{{jugador.Apellido}}</td>
                <td class="columnCenter">{{!jugador.Email ? '-' : jugador.Email}}</td>
                <td class="columnCenter">{{!jugador.Celular ? '-' : jugador.Celular}}</td>
                <td class="columnCenter">{{jugador.ObraSocial}}</td>
            </tr>
        </tbody>
    </table>

</div>