<style>
    #map {
        height: 100%;
      }
</style>

<title>Sedes</title>

<div>
    <h1 class="page-title page-title-font">Sedes</h1>
</div>

<br/>

<div class="container containerMain">
    
    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="columnCenter">Nombre</th>
                <th class="columnCenter">Dirección</th>
                <th class="columnCenter">Localidad</th>
                <th class="columnCenter">Torneo</th>
                <th class="columnCenter">Imágenes</th>
                <th class="columnCenter">Ubicación</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="headquarter in headquarters | orderBy:'Name'">
                <td class="columnCenter">{{headquarter.Name}}</td>
                <td class="columnCenter">{{headquarter.Address}}</td>
                <td class="columnCenter">{{headquarter.City}}</td>
                <td class="columnCenter">{{!headquarter.Tournament ? '-' : headquarter.Tournament}}</td>
                <td class="columnCenter"><button type="button" style="color: black" class="glyphicon glyphicon-camera" ng-click="openImages(headquarter)"></button></td>
                <td class="columnCenter"><button class="botonMapa" ng-click="openMap(headquarter)"></button></td>
            </tr>
        </tbody>
    </table>

</div>


<script type="text/ng-template" id="location.html">
   


    <form>
        <div class="modal-body" style="margin: 0 auto; padding: 5%">
            <div>
                <div class="modal-header text-center">
                    <span>Ubicación de Sede</span>
                </div>

                <br />
                
                <div id="map"></div>
                
                <div class="row alert alert-danger" ng-if="errorMsg">{{ errorMsg | translate}} </div>

                <br />
                <div class="modal-footer">
                    <!-- <button class="btn btn-success" ng-click="" ng-show="!saving">Confirmar</button>
                    <button type="button" class="btn btn-success disabled state-loading" ng-show="saving">Confirmar</button> -->

                    <button class="btn btn-default" ng-click="cancel()">Salir</button>
                </div>
            </div>
            <div class="row error">
                <div class="row alert alert-danger" ng-if="error">{{ error | translate}} </div>
            </div>
        </div>
    </form>
    

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxU9cTtBI5Pt1cz8pVi63cXoFJRSs-n4c&callback=geocodeAddress" async defer></script>
   
</script>
    

<script type="text/ng-template" id="sedeImages.html">
   


    <form>
        <div class="modal-body" style="margin: 0 auto; padding: 5%">
            <div>
                <div class="modal-header text-center">
                    <span>Galería de Imágenes</span>
                </div>

                <br />
                
                <div class="row">
                    <div class="col-md-4" ng-repeat="file in headquarterFiles">
                        <img width="100%" ng-src="{{filePath}}{{file.Name}}">
                        <br/><br/><br/>
                    </div>
                </div>
                
                <div class="row alert alert-danger" ng-if="errorMsg">{{ errorMsg | translate}} </div>

                <br />

                <div class="modal-footer">
                    <button class="btn btn-default" ng-click="cancel()">Salir</button>
                </div>
            </div>
            <div class="row error">
                <div class="row alert alert-danger" ng-if="error">{{ error | translate}} </div>
            </div>
        </div>
    </form>
    

  
   
</script>