<title>Equipos - OTEFA</title>

<div>
	<h1 style="width: 100%" class="page-title page-title-font">{{team.Name}}</h1>
</div>

<br/><br/>

<div class="container containerMain">

	<div class="col-md-7">
		
		<div>
			<div class="col-md-6 col-xs-6">
				<img ng-show="team.ShieldImage" class="shieldImage" ng-src="{{path}}/{{team.ShieldImage}}"/>
				<img ng-show="!team.ShieldImage" class="shieldImage" src="img/imageNotFound.png"/>
				<br/><br/>
			</div>
			<div class="col-md-6 col-xs-6">
				<img ng-show="team.TeamImage" class="shieldImage" ng-src="{{path}}/{{team.TeamImage}}"/>
				<img ng-show="!team.TeamImage" class="shieldImage" src="img/imageNotFound.png"/>
				<br/><br/>
			</div>
			
		</div>

		<br/><br/>

		<div>

			<br/><br/>

			<label>Historial</label>
			
			<table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered">
				<thead>
					<tr>
						<th class="columnCenter">PJ</th>
						<th class="columnCenter">PG</th>
						<th class="columnCenter">PE</th>
						<th class="columnCenter">PP</th>
						<th class="columnCenter">GF</th>
						<th class="columnCenter">GC</th>
						<th class="columnCenter">DG</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="data in historical">
						<td class="columnCenter">{{data.PlayedGames}}</td>
						<td class="columnCenter">{{data.WonGames}}</td>
						<td class="columnCenter">{{data.LooseGames}}</td>
						<td class="columnCenter">{{data.DrawGames}}</td>
						<td class="columnCenter">{{!data.Goals ? 0 : data.Goals}}</td>
						<td class="columnCenter">{{!data.AgainstGoals ? 0 : data.AgainstGoals}}</td>
						<td class="columnCenter">{{!data.DifGoal ? 0 : data.DifGoal}}</td>
					</tr>
				</tbody>
			</table>

		</div>

		<br/><br/>

		<div>

			<label>Próximos Partidos</label>
			
			<table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered">
				<thead>
					<tr>
						<th class="columnCenter">Local</th>
						<th class="columnCenter">Visitante</th>
						<th class="columnCenter">Sede</th>
						<th class="columnCenter">Fecha</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="match in upcomingMathes">
						<td class="columnCenter">{{match.MatchTeamList[0].Team.Name}}</td>
						<td class="columnCenter">{{match.MatchTeamList[1].Team.Name}}</td>
						<td class="columnCenter">{{match.Headquarter.Name}}</td>
						<td class="columnCenter">{{match.Date | date:'dd/MM/yyyy'}}</td>
					</tr>
				</tbody>
			</table>

		</div>

	</div>

	
	<div class="col-md-offset-1 col-md-4 text-center">
		
		<b>Delegado:</b>
		<span>
			{{team.TeamDelegate}}
		</span>

		<br/><br/>

		<label>Plantel</label>
		<ul class="list-group">
			<li class="list-group-item text-left row">
				<div class="col-md-6 col-xs-6 itemSize">
					<b>Nombre</b>
				</div>
				<div class="col-md-1 col-xs-1 itemSize text-center">
					PJ
				</div>
				<div class="col-md-1 col-xs-1 itemSize text-center">
					<img src="img/pelota.png">
				</div>
				<div class="col-md-1 col-xs-1 itemSize text-center">
					<img src="img/tarjeta-amarilla.png">
				</div>
				<div class="col-md-1 col-xs-1 itemSize text-center">
					<img src="img/tarjeta-roja.png">
				</div>
				<div class="col-md-1 col-xs-1 itemSize text-center">
					<img src="img/trofeo.png">
				</div>
			</li>
			<li class="list-group-item text-left row" ng-repeat="player in stadistics">
				<div class="col-md-6 col-xs-6 itemSize">
					{{player.Player}}
				</div>
				<div class="col-md-1 col-xs-1 itemSize text-center">
					{{player.PlayedGames}}
				</div>
				<div class="col-md-1 col-xs-1 itemSize text-center">
					{{player.Goals}}
				</div>
				<div class="col-md-1 col-xs-1 itemSize text-center">
					{{player.YellowCards}}
				</div>
				<div class="col-md-1 col-xs-1 itemSize text-center">
					{{player.RedCards}}
				</div>
				<div class="col-md-1 col-xs-1 itemSize text-center">
					{{player.Figure}}
				</div>
			</li>
		</ul>

	</div>

</div>