<title>Configuración - OTEFA</title>

<div>
	<h1 class="page-title page-title-font">Configuración Inicio</h1>
</div>

<br/><br/>

<div class="container containerMain">

	<div class="row">
	    <ul style="margin: 20px 0px 22px; visibility: visible;" class="test1 nav nav-tabs">
	        <li ng-selected="images" ng-click='tabSelect("images")' data-toggle="tab" class="active"><a href="">Imágenes</a></li>
	    </ul>
	</div>

	<div class="row" ng-show="images">
		<div class="col-md-6 col-xs-6">
			<label ng-show="!homeImages">No hay imágenes cargadas</label>
            <ul class="list-group scroll-list">
                <li class="list-group-item" ng-repeat="file in homeImages">
                    <!-- <div class="col-md-7"> -->
                        <a href="{{filePath}}{{file.Name}}" download>{{file.Name}}</a>
                        <div class="pull-right">
                            <button class="button-no-style glyphicon glyphicon-remove" ng-click="deleteFile(file.Name)"></button>
                        </div>
                    <!-- </div>
                    <div class="col-md-2">
                        <button class="glyphicon glyphicon-remove" ng-click="deleteFile(file.Name)"></button>
                    </div> -->
                </li>
            </ul>
        </div>
        <div class="col-md-5 col-xs-5">
            <input
                style="color: white"
            	id="uploadFiles" 
                type="file"
                onchange="angular.element(this).scope().fileNameChanged(this)" multiple/>
        </div>
        <div class="col-md-1 col-xs-1">
        	<button class="btn btn-primary" ng-click="postFile()">Aceptar</button>
        </div>
	</div>

    <br><br>

    <div class="row">
        <button type="button" class="btn btn-primary pull-right m-bottom10" ng-click="postNews()">Agregar Noticias</button>

    <br/><br/>

    <div class="panel-group" id="accordion" style="overflow-y: scroll; height: 400px;">

        <div ng-show="!newsList || newsList.length == 0">
            <label>SIN NOTICIAS CARGADAS</label>
       </div>

        <div class="panel panel-default" ng-repeat="newsItem in newsList">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="" data-toggle="collapse" data-parent="#accordion" data-target="#child{{$index}}">
                        {{newsItem.Title}} - {{newsItem.Date | date:'dd/MM/yyyy'}}
                    </a>
                    <button type="button" class="pull-right glyphicon glyphicon-pencil" ng-click="editNews(newsItem)"></button>
                </h4>
            </div>
            <div id="child{{$index}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="col-md-3 col-xs-3" ng-show="newsItem.Image">
                        <img ng-src="{{newsImagesPath}}{{newsItem.Image}}" width="100%">
                    </div>
                    <div class="col-md-9 col-xs-9">
                        {{newsItem.Body}}
                    </div>
               </div>
           </div>
       </div>

   </div>
    </div>

</div>



<script type="text/ng-template" id="manageNews.html">
    <form>
        <div class="modal-body" style="margin: 0 auto; padding: 5%">
            <div>
                <div class="modal-header text-center">
                    <span style="color: white" ng-show="!news">Agregar Noticias</span>
                    <span style="color: white" ng-show="news">Editar Noticias</span>
                </div>
                <br />
                <div class="text-left">
                    <div class="row">

                        <div class="col-md-3 text-left">
                            <label style="padding-top: 1%; color: white"><span class="redColor">*</span>Título</label>
                        </div>
                        <div class="col-md-6">
                            <input ng-model="title" type="text" class="form-control input-sm"  />
                        </div>
                    </div>
                </div>
                <br />
                <div class="text-left">
                    <div class="row">

                        <div class="col-md-3 text-left">
                            <label style="padding-top: 1%; color: white"><span class="redColor">*</span>Cuerpo</label>
                        </div>
                        <div class="col-md-6">
                            <textarea class="form-control input-sm" ng-model="body" rows="3" style="resize: none;"></textarea>
                        </div>
                    </div>
                </div>
                
                <br/><br/>

                <div class="text-left">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            
                            <div ng-show="!image">
                                <label style="color: white">No hay imágenes cargadas</label>
                            </div>
                            
                            <div ng-show="image">
                                <img ng-src="{{filePath}}{{image}}" width="150">
                                <!-- <a href="{{filePath}}{{image}}" download>{{image}}</a> -->
                                <div class="pull-right">
                                    <button class="button-no-style glyphicon glyphicon-remove" ng-click="deleteFile(image)"></button>
                                </div>
                                
                            </div>

                        </div>
                        <div ng-show="!image" class="col-md-3">
                            <input
                                style="color: white"
                                id="uploadFiles" 
                                type="file"
                                onchange="angular.element(this).scope().fileNameChanged(this)"/>
                        </div>
                    </div>
                </div>
                
                <br/>

                <div class="row alert alert-danger" ng-if="errorMsg">{{ errorMsg | translate}} </div>

                <br />
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-click="manageNews()" ng-show="!saving">Agregar</button>
                    <button type="button" class="btn btn-success disabled state-loading" ng-show="saving">Agregar</button>

                    <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
                </div>
            </div>
            <div class="row error">
                <div class="row alert alert-danger" ng-if="error">{{ error | translate}} </div>
            </div>
        </div>
    </form>
</script>